<!-- Simple header with fixed tabs. -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header mdl-layout--fixed-tabs">
  <header class="mdl-layout__header">
    <div class="mdl-layout__tab-bar">
      <a class="mdl-layout__tab" href="?date=<%=  @date-1 %>"> < </a>
      <a class="mdl-layout__tab"><%= @date.to_formatted_s(:long)%></a>
      <a class="mdl-layout__tab"  href="?date=<%=  @date == Date.today ? @date : @date+1 %>"> > </a>
    </div>
  </header>

  <main class="mdl-layout__content">
    <div class="mdl-grid">
      <% @reports.each do |r|  %>
        <div class="mdl-cell mdl-cell--4-col">

          <div class="card-wide mdl-card mdl-shadow--2dp">
            <div class="mdl-card__title">
              <h2 class="mdl-card__title-text"> <%= r.user.email %> </h2>
            </div>
            <div class="mdl-card__supporting-text">
              <% JSON.parse(r.description).each do |k,v| %>
                <b><%= k %></b><br>

                <ul class='mdl-list'>
                  <% v.each do |message| %>
                    <li class=""> - <%= message %> </li>
                  <% end %>
                </ul>

              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </main>
</div>

<% if user_signed_in? %>
<a href="/users/sign_out"
    target="_blank" id="view-source"
    class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--accent mdl-color-text--white"
    data-upgraded=",MaterialButton,MaterialRipple"> Sign Out<span class="mdl-button__ripple-container">
  <span class="mdl-ripple is-animating" style="width: 255.952px; height: 255.952px; transform: translate(-50%, -50%) translate(26px, 19px);">
  </span>
</span>
</a>

<% end %>
