<%
report_messages = [
  'Completed',
  'Working on',
  'Problems'
];
team_id = @team ? @team.id : nil
%>
<script type="text/javascript">
  $(function () {
    $('#datetimepicker1').datetimepicker({
      defaultDate: "<%=@date%>",
      format: "MM/DD/YYYY"
    }).on('dp.change', function (ev) {
      location = "?date=" + ev.date.format("YYYY-MM-DD") + "&team=<%= team_id %>";
    });
  });
</script>


<header>
  <div class="container">
    <div class="row">
      <div class="col-xs-4">
        <div class="form-inline">
          <div class="form-group">
            <label for="exampleInputName2">
              <span class="icon-group-wrapper">
                <i class="glyphicon glyphicon-user"></i>
                <i class="glyphicon glyphicon-user"></i>
                <i class="glyphicon glyphicon-user"></i>
              </span>
              Teams:
            </label>
            <div class="btn-group btn-group-team">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <%= @team ? @team.name : "Select Team" %> <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <% @teams.each do |t| %>
                  <li value="t.id" <%= @team && t.id == @team.id ? "class=selected" : '' %>>
                    <a href="?date=<%=  @date %>&team=<%= t.id %>">
                      <%= t.name %>
                    </a>
                  </li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xs-4">
        <div class="pg">
          <a class="btn btn-default" href="?date=<%= @date - 1 %>&team=<%= team_id %>">
            <span class="glyphicon glyphicon-chevron-left"></span>
          </a>
          <div class="current-wrapper">
            <div class="input-group">
              <div class='input-group date' id='datetimepicker1'>
                <input type='text' class="form-control" />
                <span class="input-group-addon">
                  <span class="glyphicon glyphicon-calendar"></span>
                </span>
              </div>
            </div>
          </div>
          <a class="btn btn-default" href="?date=<%= @date == Date.today ? @date : @date + 1 %>&team=<%= team_id %>">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </a>
        </div>
      </div>

      <div class="col-xs-4 ">
        <% if user_signed_in? %>
          <a href="/logout"
              target="_blank" id="view-source"
              class="pull-right btn btn-default btn-logout"
              data-upgraded=",MaterialButton,MaterialRipple">Log out
              <i class="glyphicon glyphicon-log-out"></i>
          </a>
        <% end %>
      </div>
    </div>
  </div>
</header>

<div class="container">

  <div class="users">

    <% if @reports.blank? %>
    <div class="empty">
      <% if not @team %>
        Team must be specified.
      <% else %>
        Nothing found for <%=@team.name%> on <%=@date%>.
      <% end %>
    </div>
    <% end %>

    <% if not @reports.blank? %>
      <% @reports.each do |r| %>
      <div class="panel panel-default">
        <div class="panel-heading"><img src="http://placehold.it/50x50"> <%= r.user.email %></div>
        <div class="panel-body">
          <% JSON.parse(r.description).each do |k,v| %>
            <% if v.present? %>
            <div class="task">
              <div class="task-title"><%= report_messages[k.to_i] %>:</div>
              <ul>
                <% v.each do |message| %>
                  <li class=""><%= message %> </li>
                <% end %>
              </ul>
            </div>
            <% end %>
          <% end %>
        </div>
      </div>
      <% end %>
    <% end %>


    <!--
    <div class="panel panel-default">
      <div class="panel-heading"><img src="http://placehold.it/50x50"> test@mail.ru</div>
      <div class="panel-body">
        <div class="task">
          <div class="task-title">Task title:</div>
          <ul>
              <li class="">item</li>
              <li class="">item</li>
              <li class="">item</li>
          </ul>
        </div>
        <div class="task">
          <div class="task-title">Task title:</div>
          <ul>
              <li class="">item</li>
              <li class="">item</li>
              <li class="">item</li>
          </ul>
        </div>
      </div>
    </div>-->


  </div>

</div>
